In [1]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('E:\\singapore\\data\\copy.csv')
data = data.drop(columns=['Unnamed: 0'])
data.head(1)

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,resale_pricePersqm
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61.333333,232000.0,5272.727273